<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teamproject_weareone</title>
    <link href="{{url_for('static', filename='team.css')}}" rel="stylesheet" />
  </head>

  <body>
    <audio controls autoplay="autoplay">
      <source src="../static/goodbye_summer.mp3" type="audio/mpeg" />
    </audio>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <h1>학창시절의 당신은 무슨 음악을 들었나요?</h1>
    <h4><strong>team : WeAreOne</strong></h4>
    <hr color="red" size="3" />
    <br />

    <h3>그때 들었던 음악을 좀 더 알고싶지 않나요?</h3>
    <br />
    <h3>그래서 준비했습니다</h3>
    <br /><br /><br />
    <h3>📌 나의 mood를 알려줘!</h3>
    <h3>📌 알고리즘아. 내가 원하는 곡의 추천곡을 알려줘</h3>
    <h3>📌 내 최애가 내가 좋아하는 노래를 부를 수 있을까</h3>
    <h3>📌 나의 가수가 추는 춤을 만든 안무가</h3>
    <br /><br /><br />

    <hr color="red" size="3" />
    <br />

    <!-- 첫 번째 HTML 파일을 로드하는 iframe -->
    <iframe
      src="{{ url_for('static', filename='file1.html') }}"
      width="100%"
      height="700px"
      frameborder="3"
    ></iframe>

    <!-- 두 번째 HTML 파일을 로드하는 iframe -->
    <iframe
      src="{{ url_for('static', filename='file2.html') }}"
      width="100%"
      height="700px"
      frameborder="3"
    ></iframe>

    <!-- 세 번째 HTML 파일을 로드하는 iframe -->
    <iframe
      src="{{ url_for('static', filename='file3_new.html') }}"
      width="100%"
      height="1500px"
      frameborder="3"
    ></iframe>

    <!-- 네 번째 HTML 파일을 로드하는 iframe -->
    <iframe
      src="{{ url_for('static', filename='file4.html') }}"
      width="100%"
      height="700px"
      frameborder="3"
    ></iframe>
  </body>
</html>
