body {
    align-content: center ;
    color: darkslateblue;
    background-image: url('../img/ditto_06.jpg');
    background-size: cover;
    text-align: center; /* 요소 내부의 텍스트를 가운데 정렬 */
    margin: 0 auto; /* 요소를 가로 방향으로 가운데 정렬 */
}

form {
    align-content: center ;
    color: indigo;
    text-align: center; /* 요소 내부의 텍스트를 가운데 정렬 */
    margin: 0 auto; /* 요소를 가로 방향으로 가운데 정렬 */
}



